*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #C1D72D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text{
    padding: 1em 0;
}
.text p{
    font-size: 1.2rem;
}
.btns{
display: flex;
flex-wrap: wrap;
justify-content: center;
border: 2px dashed white;
}
.btn:hover{
  background-color: #C1D72D;
    color: white;  
}
.btn{
    background-color: white;
    color:  #C1D72D;
    font-weight: bolder;
    border-radius: 5px;
    padding: 1em;
    margin: .25em;
    border: 1px solid;
    width: 4em;
}
#blanks{
    margin: 2em 0;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 7px;
}
.drow{
    width:20em;
    height: 13em;
    border: 3px dashed white; 
    position: relative;
}
#btn-rest{
    margin: 1.5em 0 ;
    padding: 1em ;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #C1D72D;
    border:1px solid white;
    border-radius: 10px;
}
.clicked{
    background-color: #C1D72D;
    color: white;
}
#message{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    color: white;
    padding: 1em;
    font-size: 2rem;
}
.drow span{
    position: absolute;
    display: none;
}
.drow span:nth-child(1){
    bottom: 1rem;
    left: 1rem;
    width: 11rem;
    border-top: #fff solid 2px;
}
 .drow span:nth-child(2) {
    bottom: 1rem;
    left: 1.5rem;
    height: 11rem;
    border-left: #fff solid 2px;
}

 .drow span:nth-child(3) {
    top: 1rem;
    left: 1rem;
    width: 6rem;
    border-top: #fff solid 2px;
}

 .drow span:nth-child(4) {
    top: 1rem;
    left: 6rem;
    height: .75rem;
    border-left: #fff solid 2px;
}

 .drow span:nth-child(5) {
    top: 1.6rem;
    left: 5.3rem;
    width: 1.5rem;
    height: 1.5rem;
    border: #fff solid 2px;
    border-radius: 100%;
}

 .drow span:nth-child(6) {
    top: 3.1rem;
    left: 6rem;
    height: 3rem;
    border-left: #fff solid 2px;
}

 .drow span:nth-child(7) {
    top: 4rem;
    left: 6rem;
    width: 2rem;
    border-top: #fff solid 2px;
    transform: rotate(24deg);
}

 .drow span:nth-child(8) {
    top: 4rem;
    left: 4.1rem;
    width: 2rem;
    border-top: #fff solid 2px;
    transform: rotate(-24deg);
}

 .drow span:nth-child(9) {
    bottom: 6.1rem;
    left: 6rem;
    width: 2rem;
    border-top: #fff solid 2px;
    transform: rotate(24deg);
}

 .drow span:nth-child(10) {
    bottom: 6.1rem;
    left: 4.1rem;
    width: 2rem;
    border-top: #fff solid 2px;
    transform: rotate(-24deg);
}

